[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "scpaste"]
	path = scpaste
	url = git@github.com:mattdeboard/scpaste.git
[submodule "rcirc-notify-plus"]
	path = rcirc-notify-plus
	url = git://github.com/emacsmirror/rcirc-notify-plus.git
[submodule "python.el"]
	path = python.el
	url = git://github.com/fgallina/python.el.git
[submodule "js2-mode"]
	path = js2-mode
    url = git://github.com/mooz/js2-mode.git
[submodule "haskell-mode"]
    path = haskell-mode
    url = git://github.com/emacsmirror/haskell-mode.git
