[submodule "submodules/emacs-color-theme-solarized"]
	path = submodules/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "submodules/org-gcal"]
	path = submodules/org-gcal
	url = git@github.com:myuhe/org-gcal.el.git
