[submodule "submodules/haskell-mode"]
	path = submodules/haskell-mode
	url = git://github.com/emacsmirror/haskell-mode.git
[submodule "submodules/magit"]
	path = submodules/magit
	url = git://github.com/magit/magit.git
[submodule "submodules/python.el"]
	path = submodules/python.el
	url = git://github.com/fgallina/python.el.git
[submodule "submodules/js2-mode"]
	path = submodules/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "submodules/rcirc-notify-plus"]
	path = submodules/rcirc-notify-plus
	url = git://github.com/emacsmirror/rcirc-notify-plus.git
[submodule "submodules/clojure-mode"]
	path = submodules/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "submodules/ac-slime"]
	path = submodules/ac-slime
	url = git://github.com/purcell/ac-slime.git
